<div id="app" class="wrapper">
  <mat-toolbar color="primary">
  <span>
    <a routerLink="/" class="univ-link">Система тестирования</a>
  </span>
    <span class="spacer"></span>
    <a mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Главная</a>
    <div *ngIf="!isLoggedIn">
      <a mat-button routerLink="/login" routerLinkActive="active">Войти</a>
      <a mat-button routerLink="/register" routerLinkActive="active">Регистрация</a>
    </div>
    <div *ngIf="isLoggedIn">
      <a mat-button routerLink="/tests" routerLinkActive="active">Тесты</a>
      <a mat-button routerLink="/user/results" routerLinkActive="active">Результаты пользователя</a>
    </div>
    <div *ngIf="isAdmin">
      <a mat-button routerLink="/admin/results" routerLinkActive="active">Результаты пользователей</a>
      <a mat-button routerLink="/admin/create-test" routerLinkActive="active">Создать тест</a>
    </div>
    <div *ngIf="isLoggedIn">
      <a mat-button routerLink="/profile" routerLinkActive="active">Профиль</a>
      <a mat-button href (click)="logout()" routerLinkActive="active">Выйти</a>
    </div>
  </mat-toolbar>
  <main class="content">
    <router-outlet></router-outlet>
  </main>
  <mat-toolbar color="primary" class="footer">
    <div class="container d-flex align-items-center justify-content-center">
      ©2024 Test system
    </div>
  </mat-toolbar>
</div>
