mat-card {
  max-width: 400px;
  margin: 50px auto;
}

mat-form-field {
  width: 100%;
}

.button-row {
  display: table-cell;
  max-width: 600px;
}

.button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}
